numpy
matplotlib
datetime
tk
tkcalendar
prettytable
pyshp
redmail
pdf2image
Pillow
pickle4
pygame
lxml
zip-files
pandas
python-vlc
openpyxl
sounddevice 
adafruit-circuitpython-dht
scipy
sounddevice
flask

